:root {
  --empty-color: #CDC1B4;
  --two-color: #EEE4DA;
  --four-color: #EDE0C8;
  --eight-color: #F2B179;
  --sixteen-color: #F59563;
  --thirty-two-color: #F67C5F;
  --sixty-four-color: #F65E3B;
  --one-twenty-eight-color: #EDCF72;
  --two-fifty-six-color: #EDCC61;
  --five-twelve-color: #EDC850;
  --one-thousand-twenty-four-color: #EDC53F;
  --two-thousand-forty-eight-color: #EDC22E;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: beige;
  width: 100vw;
  height: 100vh;
}

#board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 550px;
  background: #BBADA0;
  border: 15px solid #BBADA0;
  border-radius: 5px;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: xxx-large;
  color: #776E65;
  width: 110px;
  height: 110px;
  margin: 11px;
  background-color: var(--tile-color, #CCC1B3);
  border-radius: 5px;
}

.empty {
  background-color: #CDC1B4;
}

.two {
  background-color: var(--two-color);
}

.four {
  background-color: var(--four-color);
}

.eight {
  background-color: var(--eight-color);
}

.tile.sixteen {
  background-color: var(--sixteen-color);
}

.tile.thirty-two {
  background-color: var(--thirty-two-color);
}

.tile.sixty-four {
  background-color: var(--sixty-four-color);
}

.tile.one-twenty-eight {
  background-color: var(--one-twenty-eight-color);
}

.tile.two-fifty-six {
  background-color: var(--two-fifty-six-color);
}

.tile.five-twelve {
  background-color: var(--five-twelve-color);
}

.tile.one-thousand-twenty-four {
  background-color: var(--one-thousand-twenty-four-color);
}

.tile.two-thousand-forty-eight {
  background-color: var(--two-thousand-forty-eight-color);
}