.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: beige;
  width: 100vw;
  height: 100vh;
}

#board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 550px;
  background: #BBADA0;
  border: 15px solid #BBADA0;
  border-radius: 5px;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: xxx-large;
  color: #776E65;
  width: 110px;
  height: 110px;
  margin: 11px;
  background-color: #EEE4DA; 
  border-radius: 5px;
}

.empty {
  background-color: #CDC1B4;
}